{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <div class="card">
                    <h5 class="card-header">Pièce</h5>
                    <div class="card-body">
                        {{ form_start(pieceForm) }}
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="nom_piece">Nom</label>
                                    {{ form_widget(pieceForm.nom, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-rose">Enregistrer</button>
                            </div>
                        {{ form_end(pieceForm) }}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <h5 class="card-header">Produit</h5>
                    <div class="card-body">
                        {{ form_start(produitForm) }}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="produit[nom]">Nom</label>
                                {{ form_widget(produitForm.nom, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="produit[prix]">Prix approximatif en €</label>
                                {{ form_widget(produitForm.prix, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_row(produitForm.piece, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            <label for="produit_achete">Acheté ?</label>
                            {{ form_widget(produitForm.achete) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(produitForm.dateAchat, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            <label for="produit[liens][0]">Lien #1</label>
                            {{ form_widget(produitForm.liens.0, {'attr':{'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            <label for="produit[liens][1]">Lien #2</label>
                            {{ form_widget(produitForm.liens.1, {'attr':{'class': 'form-control'}}) }}
                        </div>
                        <div class="form-row">
                            <button type="submit" class="btn btn-rose">Enregistrer</button>
                        </div>
                        {{ form_end(produitForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}